.todo-header {
  font-family: system-ui;
  margin-left: 30vh;
}

.todo {
  display: flex;
  gap: 10px;
  margin-left: 15vh;
}

.todo-full {
  margin-left: 15vh;
}

.add-button {
  font-family: system-ui;
  background-color: transparent;
  padding: 15px;
  border-radius: 10px;
  color: white;
  border: 2px solid #ffb300;
  font-weight: bold;

}

.add-button:hover {
  background-color: #ff8f26;
  transition: 0.3s;
}

.task-list {
  width: 100%;
  max-width: 500px; 
  padding: 0;
  margin-top: 2%;
  margin-left: 15vh;
}


.task-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.task-list li {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  background-color: #f9f9f9;
  margin-bottom: 5px;
  border-radius: 5px;
}

.task-list li .text {
  flex-grow: 1; 
  margin-right: 15vh; 
  font-size: 16px;
  color: #333;
}


.task-list li button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.task-list li .delete-button {
  background-color: #e74c3c;
  color: white;
  margin-right: 5px; 
}



.task-list li button:hover {
  opacity: 0.8;
}

.mark-as-done {
  background-color: #59e73c;
  color: white;
  margin-right: 5px; 
}

.text {
  font-family: system-ui;
  font-weight: bold;
  font-fize: 18px; 
}